<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= grales.title%></title>


    <%- include ('partials/head-link') %>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include ('partials/sidebar') %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include ('partials/topbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tickets Asignados</h1>
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">

                            </h6>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped" id="dataTable" class="display nowrap" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="idusers">Id</th>
                                            <th class="ticketsFechaAlta">Fecha de Alta</th>
                                            <th class="idusersAlta">Usuario reporta</th>
                                            <th class="ticketsDescripcion">Problema Reportado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody >

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include ('partials/footer') %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include ('partials/logoutModal') %>
    <%- include ('partials/profileModal') %>
    <%- include ('partials/addUserModal') %>
    <%- include ('partials/addTicketModal') %>
    <%- include ('partials/closeTicketModal') %>

    <%- include ('partials/footer-script') %>

    <script>
        $(document).ready(function() {
            var url = 'http://192.168.0.17:3001/ticketsXUsuario/<%=grales.iduser%>'
            $('#dataTable').DataTable({
                responsive:true,
                "ajax":{
                    "url":url,
                    "dataSrc":""
                },
                "columns":[
                    {"data":"idtickets"},
                    {"data":"ticketsFechaAlta"},
                    {"data":"nombresAlta"},
                    {"data":"ticketsDescripcion"},
                    {"data":"accion"},
                ],
                "columnDefs":[
                    {
                        targets: 0,
                        className:'dt-body-center',
                        responsivePriority: 1,
                        width: "2%"
                        
                    },
                    { 
                        targets: 1,
                        className:'dt-body-center',
                        responsivePriority: 10001  
                    },
                    {
                        targets: -1,
                        className:'dt-body-center',
                        data: null,
                        defaultContent:`<a href="#" class="btn btn-success btn-icon-split btn-closeTicket" id="btnCloseTicket" data-toggle="modal" data-target="#closeTicketModal">
                                            <span class="icon text-white-50">
                                                <i class="fas fa-check"></i>
                                            </span>
                                            <span class="text">Cerrar</span>
                                        </a>`,
                        responsivePriority: 1,
                        width: "5%"
                    },
                ],
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
            });

        });

        var fila;

        $(document).on("click", ".btn-closeTicket", function(){
            fila = $(this).closest("tr");
            noTicket            = fila.find('td:eq(0)').text();
            ticketsFechaAlta    = fila.find('td:eq(1)').text();
            nombresAlta         = fila.find('td:eq(2)').text();
            ticketsDescripcion  = fila.find('td:eq(3)').text();

            $('#ticket').val(noTicket);
            $('#fechaAlta').val(ticketsFechaAlta);
            $('#nombre').val(nombresAlta);
            $('#descripcion').val(ticketsDescripcion);
            
        });

        $(document).on("click", "#botonCerrarTicket", function(){
            fila = $(this).closest("form");

            alert(fila);
        });

    </script>
    
</body>

</html>