<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Alta de usuario</title>
</head>
<body>
    <div class="register-form">
        <h1>Alta de Usuario</h1>
        <form action="register" method="POST">
            <label for="name">Nombre</label>
            <input type="text" name="name" required>

            <label for="email">Correo</label>
            <input type="text" name="email" required>

            <label for="pass">Contraseña</label>
            <input type="password" name="pass" required>

            <label for="rol">Rol</label>
            <select name="rol" id="rol" class="select-css">
                <option value="1" selected>Administrador</option>
                <option value="2">Usuario Almacen</option>
            </select>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Regresar</a><input type="submit" class= "btn-save" value="Save">
            </div>

        </form>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location='/<%= ruta %>'
        })
        </script>
       <% } %>
</body>
</html>